@model projetmvcfinale.Models.testInteractifViewModel
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="_ExerciceInteractif">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label id="lblNumeroQuestion" class="control-label"></label>
                <input id="inNumeroQuestion" class="form-control" />
                <input type="button" value="Choisir ce numéro" onclick="CommencerExercice()" />
            </div>

            <div id="ActiverCreation" hidden>
                <div class="form-group">
                    <label id="lblPhrase" asp-for="Ligne" class="control-label">Début phrase</label>
                    <textarea id="boutLigne" asp-for="Ligne" class="form-control"></textarea>
                    <span asp-validation-for="Ligne" class="text-danger"></span>
                </div>
                <div>
                    <table id="Choix"></table>
                </div>
                <div class="form-group">
                    <input type="button" value="Insérer un choix de réponse" onclick="AfficherTableau()" class="btn btn-default" />
                    @*<input type="button" value="Modifier la phrase" onclick="" class="btn btn-default" />*@                    
                </div>
            </div>
            <div class="form-group" id="divTableau" hidden>
                <table id="tbChoixReponses">
                    <tr>
                        <th>
                            Choix de réponse
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="ChoixDeReponse" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="ChoixDeReponse" />
                        </td>
                    </tr>
                </table>
                <input type="button" value="Ajouter un choix" onclick="AjouterColonne()" class="btn btn-default" />
                <input type="button" value="Annuler le choix de réponse" onclick="AnnulerChoixReponse()" class="btn btn-default" />
                <input type="button" value="Indiquer la bonne réponse" onclick="OuvrirBonneReponse()" class="btn btn-default" />
            </div>
            <div id="divBonneReponse" hidden>
                <h1>Veuillez sélectionner la bonne réponse</h1>
                <select id="selectChoixReponse"></select>
                <input type="button" value="Confirmer" onclick="ChoixReponse()" />
            </div>
            <div id="divDecision" hidden>
                <input type="button" value="Continuer la phrase" onclick="ContinuerPhrase()" class="btn btn-default" />
                <input type="button" value="Phrase terminé" onclick="TerminerPhrase()" class="btn btn-default" />
            </div>
            <div id="divPhrase">
                <h1>Votre exercice :</h1>
                <textarea id="TextPhrase" disabled></textarea>
                <input type="button" value="Terminer l'exercice" onclick="EnvoyerExercice()" class="btn btn-default" />
                <input type="button" value="Phrase terminé" onclick="TerminerPhrase()" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
