@model projetmvcfinale.Models.ExerciceVM

@{
    ViewData["Title"] = "AjoutExercice";
}


<div style="margin-top: 10px;">
    <h4>Ajouter un exercice</h4>
    <hr />
    <div style="padding: 10px;">
        <form asp-action="AjoutExercice">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label asp-for="NomExercices" class="control-label"></label>
                    <input asp-for="NomExercices" class="form-control" />
                    <span asp-validation-for="NomExercices" class="text-danger"></span>
                </div>

                <div class="form-group col-sm-6">
                    <label asp-for="TypeExercice" class="control-label"></label>
                    <select asp-for="TypeExercice" asp-items="ViewBag.Type" class="form-control"></select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label asp-for="IdDifficulte" class="control-label"></label>
                    <select asp-for="IdDifficulte" asp-items="ViewBag.Niveau" class="form-control"></select>
                    <span asp-validation-for="IdDifficulte" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="IdCateg" class="control-label"></label>
                    <select asp-for="IdCateg" asp-items="ViewBag.Categorie" class="form-control"></select>
                    <span asp-validation-for="IdCateg" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer exercice" class="btn btn-info" />
            </div>
        </form>
        <div class="form-group">
            <input type="submit" value="Retour à la liste des exercices" class="btn btn-info" onclick="location.href='@Url.Action("ListeExercice","Exercice")'" />
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
