
@using Microsoft.AspNetCore.Identity
@using projetmvcfinale.Models.Authentification

@inject SignInManager<LoginUser> SignInManager
@inject UserManager<LoginUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area=""  method="post" id="logoutForm" class="navbar-right">
        <ul class="nav">
            <li>
                <a>Bonjour @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <a class="btn btn-link navbar-btn navbar-link " asp-controller="Login" asp-action="Logout"><i class="fas fa-sign-out-alt" ></i><span> Déconnexion</span></a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav ">
        <li><a asp-area="" asp-controller="Login" asp-action="Register">S'inscrire</a></li>
        <li><a asp-area="" asp-controller="Login" asp-action="Login">Se connecter</a></li>
    </ul>
}


