
@{
    ViewData["Title"] = "GererInfos";
}
<div id="divliste">
    <partial name="_ListeCategorie" model="ViewBag.ListCategorie" />
</div>

@*<div id="2">
        <partial name="_ListeCategorie" model="ViewBag.ListCategorie" />
    </div>*@
@*<div id="divAjouterCategorie">
    <partial name="_AjouterCategorie" model="ViewBag.Categorie" />
</div>*@


@section Scripts {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/Infos.js"></script>
}