
@{
    ViewData["Title"] = "GererInfos";
}

<h2>Gerer les informations</h2>

@*Catégorie*@
<div id="divlisteCateg">
    <partial name="_ListeCategorie" model="ViewBag.ListCategorie" />
</div>

@*Sous-Catégorie*@
<div id="divlisteSousCateg">
    <partial name="_ListeSousCategorie" model="ViewBag.ListSousCategorie" />
</div>

@*Difficulté*@
<div id="divlisteNiveau">
    <partial name="_ListeDifficulte" model="ViewBag.ListeNiveau" />
</div>

@*Source : Document Chapitre09, Application Internet*@


@section Scripts {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/Infos.js"></script>
}