@model projetmvcfinale.Models.NotesViewModel

@{
    ViewData["Title"] = "AjouterNote";
}
<br />
<p>
    <button class="btn btn-info" data-toggle="modal" data-target="#ModalAjouterSousCategorie">Ajouter une sous-catégorie</button>
</p>

<h2>Ajouter des Note</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AjouterNote" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomNote" class="control-label"></label>
                <input asp-for="NomNote" class="form-control" />
                <span asp-validation-for="NomNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCateg" class="control-label"></label>
                <select asp-for="IdCateg" class="form-control" asp-items="ViewBag.IdCateg"></select>
            </div>
            <div class="form-group">
                <label asp-for="SousCategorie" class="control-label"></label>
                <select asp-for="SousCategorie" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Lien" class="control-label"></label>
                @if (ViewBag.pdf_Word == "Avertissement")
                {
                    <h1 style="color:red;">document pdf ou word SEULEMENT!</h1>
                }
                <input asp-for="Lien" class="form-control" type="file" />
                <span asp-validation-for="Lien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListeNoteDeCours" class="btn btn-primary">Retour à la liste</a>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalAjouterSousCategorie" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter une sous-catégorie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Nom de la sous-catégorie</label>
                <input id="NomSousCategorie" />
                <br />
                <label style="font-size: 16px;color: black;">Catégorie associée</label>
                <input id="CategorieAssociee" readonly />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="CreerSousCategorieAjax()" data-dismiss="modal">Ajouter cette catégorie</button>
                <button type="button" class="btn btn-primary" onclick="AnnulerAjouterSousCategorie()">Annuler</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/Notes.js"></script>
}
