@model projetmvcfinale.Models.Authentification.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "_Layout_secondaire";
}

<h5 class="form-heading">Revenir au site</h5>
<div class="login-form">
    <div class="main-div">
        <div class="panel">
            <h2>Enregistrez-vous</h2>
            <p>S'il vous plaît entrer vos informations</p>
        </div>
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="Login">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nom"></label>
                <input asp-for="Nom" class="form-control" data-placeholder="Nom" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom"></label>
                <input asp-for="Prenom" class="form-control" data-placeholder="Prenom" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Telephone"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <label asp-for="Role" class="control-label"></label>
                    <select asp-for="Role" asp-items="@Model.Roles" class="form-control"></select>
                </div>
            }

            <div class="form-group">
                <button type="submit" class="btn btn-primary">S'enregistrer</button>
            </div>
        </form>

    </div>
    <p class="botto-text"> Le français facile en tout point</p>
</div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


